.history__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 16px 0 32px 0;
}

@media screen and (max-width: 767px) {
    .history__title {
        font-size: 30px;
        line-height: 36px;
    }
}