.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .map {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .map {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .map {
        padding-bottom: 64px;
        margin: 0 16px 0 16px;
    }
}