.header__menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}


@media screen and (max-width: 767px) {
    .header__menu-list {
        display: block;
        position: absolute;
        left: -192px;
        top: 0;
        background-color: #52599B;
        padding: 75px 20px 20px 32px;
    }

    .header__menu-list.opened {
        transform: translateX(100%);
        transition: 0.3s;
    }
}