.culture__title {
    font-weight: 900;
    font-size: 90px;
    line-height: 110px;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    margin: 0 0 32px 0;
    background: linear-gradient(-45deg, #dde2d5, #a06517, #c02fa8, #c92e23);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% auto;
}

@media screen and (max-width: 767px) {
    .culture__title {
        max-width: 720px;
        margin: 0 16px 16px 16px;
        font-size: 56px;
        line-height: 58px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}